.img_port{
    width: 200px;
}

.portfolio-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.portfolio-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

@media only screen and (max-width: 1049px) {
    .portfolio-1{
        grid-template-columns: 1fr;
    }
    .portfolio-2{
        grid-template-columns: 1fr;
    }
}
