.img_port{
    width: 200px;
}

.portfolio-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.portfolio-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
